<?xml version="1.0" encoding="UTF-8" ?>
<robot name="nekomimi_bot"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="camera" params="parent">

    <joint name="realsense_d405" type="fixed">
      <origin xyz="0.01317988 0.009 0.0515" rpy="0.0 0.0 0.0" />
      <parent link="${parent}_link" />
      <child link="head_camera_link" />
    </joint>

    <link name="head_camera_link">
      <visual>
        <origin xyz="-0.00007 -0.009 ${0.021-0.021}" rpy="${M_PI/2} 0.0 ${M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find nekomimi_bot_description)/meshes/sensor/realsense_d405.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="-0.0095 -0.009 0.0035" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.027 0.049 0.049" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="1.0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" 
                 iyy="0.001" iyz="0.0" 
                 izz="0.001"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
