<?xml version="1.0" encoding="UTF-8" ?>
<robot name="nekomimi_bot"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="lidar" params="parent">

    <joint name="lidar" type="fixed">
      <origin xyz="0.01464224 0.0 0.08705" rpy="0.0 0.0 0.0" />
      <parent link="${parent}_link" />
      <child link="lidar_link" />
    </joint>

    <link name="lidar_link">
      <visual>
        <origin xyz="0.0 0.0 -0.02215" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://nekomimi_bot_description/meshes/sensor/lds_lidar.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 -0.0072" rpy="0.0 0.0 0.0" />
        <geometry>
          <cylinder radius="0.0325" length="0.0271"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="1.0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" 
                 iyy="0.001" iyz="0.0" 
                 izz="0.001"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
